<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloService1" class="com.springcore.bean.HelloService">
        <property name="message" value="Hello from Spring Bean from ID-1 !" />
    </bean>

    <bean id="helloService2" class="com.springcore.bean.HelloService">
        <property name="message" value="Hello from Spring Bean from ID-2  !" />
    </bean>

</beans>
